.ipynb_checkpoints/
*.pyc
app/.env
models
src/router-controller/target/
routers/
routers-cpu-override/*.pt
routers-cpu-override/**/*.pt
.Trash-0/
ngc-cli/
ngc-cli.md5
ngccli_linux.zip
# Helm chart override files
values.override.yaml
**/values.override.yaml